extends ../layout

block content
    link(rel='stylesheet', href='/css/datepicker.css')
    script(src='/js/datepicker.js')

    .wrapper
        #divResume.info.mt50
            .col-md-2
                .sidebar
                    p.active
                        a(href="/admin/users") 用户管理
                    p 
                        a(href="/admin/resumes") 投递记录管理
            .col-md-10
                form#formSearch.form-inline
                    span 身份证号码：
                    input.form-control.input-sm(type="text", name="cardId")
                    span.pl15 投递岗位：
                    input.form-control.input-sm(type="text", name="jobTitle")
                    button.btn.btnGray.btn-sm.ml10(type="submit") 搜索
                    button#btnExport.btn.btn-info.btn-sm.ml30(type="submit") 导出
                #tableContainer

    script.
        (function() {
            var params = {
                pageNo: 1,
                pageSize: 25
            };
            
            var tableUsers = new oc.Table();
            tableUsers.headMapping = {
                cardId: {text: '身份证号码', sort: true},
                created_at: {text: '创建时间', sort: true},
                'resume.name': {text: '姓名'},
                'resume.tel': {text: '电话'},
                'record.tel': {text: '已投递岗位'}
            }
            tableUsers.renderTr = function(model) {
                var tr = $('<tr></tr>');
                tr.append('<td>' + model.cardId + '</td>');
                tr.append('<td>' + oc.date.format(model.created_at, 'yyyy-mm-dd hh:MM') + '</td>');
                tr.append('<td><a target="_blank" href="/admin/view/' + model.resume._id + '/1">' + (model.resume.name || '') + '</a></td>');
                tr.append('<td>' + (model.resume.tel || '') + '</td>');
                tr.append('<td>' + (model.records.length > 0? model.records.map(function(one) {return one.jobTitle;}).join('<br>') : '未投递') + '</td>')
                return tr;
            }
            tableUsers.pageSize = params.pageSize;
            tableUsers.placeAt($('#tableContainer'));
            tableUsers.ajaxCallback = function(tableParams) {
                params = $.extend(params, tableParams);
                fetchData();
            }

            var formSearch = $('#formSearch');
            formSearch.submit(function() {
                var cardId = $.trim(formSearch.find('[name="cardId"]').val());
                var jobTitle = $.trim(formSearch.find('[name="jobTitle"]').val());
                params.cardId = cardId;
                params.jobTitle = jobTitle;
                params.pageNo = 1;
                tableUsers.pageNo = 1;
                fetchData();
                return false;
            })
    
            var fetchData = function() {
                oc.ajax.post('/admin/users', params, function(res) {
                    tableUsers.load(res.items, res.allsize);
                })
            }
            
            fetchData();
            
            //导出 ---
            document.getElementById('btnExport').onclick = function() {
                var exportParams = $.extend({}, params);
                exportParams.pageSize = 100000;
                exportParams.pageNo = 1;

                oc.ajax.post('/admin/users', exportParams, function(res) {
                    var rows = [];
                    rows.push(['ID', '身份证号码', '创建时间', '姓名', '电话', '已投递岗位']);
                    res.items.map(function(one) {
                        rows.push([one.id, one.cardId, oc.date.format(one.created_at), one.resume.name || '', one.resume.tel || '', one.records.length? one.records.map(function(one) {return one.jobTitle;}).join(';') : ''])
                    });

                    oc.tools.csv.export('用户信息.csv', rows);
                })
            }
        })();
        