extends ../layout

block content
    include components/banner.jade
    
    .wrapper
        p.mt20 项目Git 地址：
            a(href="https://github.com/elvisxiao/ocui", target="_blank") https://github.com/elvisxiao/ocui
        p.tc.p30
            a.btn.btn-primary.w300.f16(href="/ui/normalize", style="background: #00a7ea; height: 42px; line-height:28px;") 直接查看文档
        h4 使用说明:
        p 仅需引入oc.js或者oc.min.js文件，引入时加上参数指定css位置。
        p.alert.alert-warning 组件依赖于Jquery和Bootstrap，请将oc.js或者oc.min.js置于其后。
        p 本文中所有代码示例HTML文件均采用Jade写法，所有CSS文件均采用Stylus写法，如有疑问，请自行Google了解基础知识。
        h4.mt30 一个典型的HTML头部文件:
        .zCode
            code.language-jade.
                doctype html
                    html
                        head
                            title AppPorts
                            meta(content="text/html; charset=gb2312", http-equiv="Content-Type")
                            meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;")
                            meta(http-equiv="X-UA-Compatible", content="IE=EDGE")

                            link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
                            link(rel='stylesheet', href='/css/bootstrap-datepicker3.min.css')

                            script(src='/js/jquery.min.js')
                            script(src='/bootstrap/js/bootstrap.min.js')

                            script(src='/oc/oc.js', data-occss="/oc/oc.css")


