extends layout

block content
	div(style="background:#f9fafb; padding: 50px 0; border-bottom: 1px solid #ecf0f1")
		.wrapper.f18 Page Not Found, 
			a(href="/") Go to homepage？
	
	div.wrapper.tc
		p.f30(style="color:#2c3e50; margin-top:70px;") Oops, This Page Could Not Be Found!
		p.f18.text-muted.mt10 The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
		img.mt50.mb50(src="/img/logo.png")

