extends layout

block content
	div(style="background:url(/img/page/海报背景.jpg)  top center no-repeat")
		#aboutWrapper.wrapper
			img.w(src="/img/page/公司简介_01.jpg")
	.wrapper
		img.w(src="/img/page/公司简介_02.jpg")
	div(style="background:#f5f6f8")
		.wrapper
			img.w(src="/img/page/公司简介_03.jpg")
	.wrapper
		img.w(src="/img/page/公司简介_04.jpg")
		img.w(src="/img/page/公司简介_05.jpg")
		img.w(src="/img/page/公司简介_06.jpg")
