extends layout

block content
    style.
        input, textarea {
            background: #ddd;
            border: 1px solid #ccc;
            display: block;
            width: 100%;
            height: 36px;
            line-height: 36px;
            padding: 0 15px;
            margin-top: 5px;
        }
        textarea{
            min-height: 120px;
        }
    #dituContent(style="height: 400px; width: 100%;")
    
    .wrapper.mt20
        .row
            .col-sm-5.col-xs-12
                .f14.lh200
                    h4.mb20 联系信息
                    p 地址: 中国湖南省长沙市岳麓区高新开发区尖山路中电软件园
                    p 电话: +018688700889
                    p 邮箱: 
                        a(href="mailto:ivesxiao@msn.com") ivesxiao@msn.com
                    h4.mt30 其他信息
                    p Github: 
                        a(href="https://github.com/elvisxiao", target="_blank") https://github.com/elvisxiao
                    p 微信：
                    p 
                        img.w200(src="/img/wechart.jpg", style="margin-left:42px;")
            .col-sm-7.col-xs-12
                h4
                    i.icon-bubble.iconReverse
                    | 邮件反馈问题
                p.f12 请尽量详细描述问题，并提供真实的邮箱地址，我们会在第一时间给予确认和反馈，并通过您提供的邮件告知问题处理方案，我们珍惜您的每一次珍贵的意见。
                form#formComment.mt20
                    p 您的称呼：
                        input.ipt(type="text", placeholder="YOUR NAME", required, name="name", min="2", max="20")
                    p 您的邮箱：
                        input.ipt(type="email", placeholder="EMAIL", required, name="email")
                    p 您的问题：
                        textarea.ipt(placeholder="COMMENT", required, min="4", max="10000", name="content")
                    button.btn.btn-info.w100.mt20(type="submit", style="border-radius: 2px;") 发&nbsp;&nbsp;送

    script(src="http://api.map.baidu.com/api?key=&v=1.1&services=true")
    script.
        (function() {
            var map = new BMap.Map("dituContent");  
            map.centerAndZoom(new BMap.Point(112.889089, 28.236522), 12); 

            var marker1 = new BMap.Marker(new BMap.Point(112.889089, 28.236522));  //创建标注
            map.addOverlay(marker1);                 // 将标注添加到地图中
            //创建信息窗口
            var infoWindow1 = new BMap.InfoWindow("地址：<br>湖南省长沙市<br>岳麓区尖山路中电软件园");
            marker1.addEventListener("click", function(){this.openInfoWindow(infoWindow1);});
        })();
        
        var form = document.getElementById('formComment');
        form.onsubmit = function() {
            var mailInfo = oc.tools.form.getJson(form);
            oc.tools.form.loadingButton(form);
            oc.ajax.post('/service/mail', mailInfo, function() {
                oc.dialog.tips('发送成功');
                oc.tools.form.resetButton(form);
                form.reset();
            });
            return false;
        }
        
        