extends layout

block content
    style.
        #footer_bg, #navSpace {
            display: none;
        }
        input, textarea {
            background: #ddd;
            border: 1px solid #ccc;
            display: block;
            width: 100%;
            height: 36px;
            line-height: 36px;
            padding: 0 15px;
            margin-top: 5px;
        }
        textarea{
            min-height: 120px;
        }
    
    .wrapper.mt20
        .row
            .col-sm-5.col-xs-12
                .f14.lh200 钉钉测试

    script.
        var form = document.getElementById('formComment');
        
        