extends layout

block content
	div(style="background:#f9fafb; padding: 50px 0; border-bottom: 1px solid #ecf0f1")
		.wrapper.f18 Page Error, 
			a(href="/") Go to homepage？
	
	div.wrapper.tc
		p.f30(style="color:#2c3e50; margin-top:70px;") Oops! An unexpected error seems to have occured.
		p.f18.text-muted.mt10 Why not try refreshing your page? Or you can contact us if the problem presists.
		img.mt50.mb50(src="/img/logo.png")

