extends layout

block content
	style. 
		body{background-color: #f4f4f4} #footer_bg {margin-top: 0}
	div(style="background:url(/img/page/员工福利.jpg)  top center no-repeat")
		.wrapper
			img.w(src="/img/page/员工福利_01.png")
			img.w(src="/img/page/员工福利_02.png")
		#aboutWrapper(style="background:#fff")
			.wrapper
				img.w(src="/img/page/员工福利_03.png")
	