body {
        background: url(./img/bg_01.jpg) no-repeat top center;
    }
    .wrap {
        max-width: 1440px;
        width: 100%;
    }
    div{
        position: relative;
    }
    #banner{
        height: 600px;
    }
    
    .scrollWrap {
        margin: 0 auto;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        border: 5px solid #974C1D;
    }
    .luckyItem {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .luckyItem img {
        width: 150px;
        height: 150px;
    }
    .prizeList li {
        border-right: 0;
        position: relative;
        text-align: center
    }

    #circleWrap{
        position: relative;
    }
    #circleWrap div{
        text-align: center;
        white-space: nowrap;
    }
    #circleWrap img{
        width: 100px;
        height: 70px;
        margin-right: 10px;
        margin-top: 10px;
        display: none;
    }
    #cirleLine1{
        padding: 0 70px;
    } 
    #cirleLine1 img{
        width: 120px;
        height: 60px;
    }
    #cirleLine1 img:nth-child(2){
        margin-right: 190px;
    }
    #cirleLine2{
        padding: 0 30px;
    } 
    #cirleLine2 img:nth-child(4){
        margin-right: 80px;
    }
    #cirleLine4{
        padding: 0 60px;
    }
    #cirleLine4 img{
        width: 115px;
    }
    #cirleLine5{
        padding: 0 130px;
    }
    #cirleLine5 img{
        width: 110px;
    }
    #cirleLine6{
        padding: 0 210px;
    }
    #btnGo, #btnReview{
        width: 100px;
        height: 50px;
        vertical-align: top;
        margin-top: 10px;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1000;
    }
    #btnReview{
        left: 0;
    }
    #imageWall{
        background: #F45E6A;
        min-height: 550px;
        padding-top: 30px;
    }
    #imageWall img{
        top:20%;
        width: 150px;
        height: 150px;
        margin: 0;
        padding: 0;
        border: 0;
    }
    #imageWall img.imgPrice {
        height: 180px;
    }
    #prizeInfo{
        position: absolute;
        bottom: 6px;
        font-size: 16px;
        line-height: 2em;
        color: #FF6527;
        font-weight: 700;
        letter-spacing: 0.1em;
        width: 100%;
        text-align: center;
    }
    #prizeScroll{
        margin-top: 50px;
        display: inline-block;
        padding: 50px;
        background: url(./img/scrollTop.png) repeat-x top left #FFD042;
        vertical-align: top;
        color: #F83A52;
        box-shadow: 15px 0 25px #F24A57;
    }
    #btnStart{
        background: #FF3756;
        color: #fff;
        font-size: 16px;
        width: 150px;
    }
    #scrollTopRight{
        width: 100px;
        height: 100px;
        background: url(./img/scrollTopRight.png) no-repeat top left;
        position: absolute;
        top: -10px;
        right: -55px;
    }
    #scrollLeft{
        background: #F82347;
        position: absolute;
        left: 0;
        top:0;
    }
    #scrollBottomRight{
        width: 130px;
        height: 140px;
        background: url(./img/scrollTopBottom.png) no-repeat top left;
        position: absolute;
        bottom: -6px;
        right: -32px;
    }
    #scrollBottom{
        width: 100%;
        height: 42px;
        background: url(./img/scrollBottom.png) repeat-x top left;
        position: absolute;
        bottom: -6px;
        left: 0px;
    }
    #prizeScroll li{
        width: 160px;
        height: 190px;
        margin-right: -8px;
        position: relative;
        background: #fff;
    }
    #pirzeList{
        margin-top: 53px;
        margin-left: 50px;
        background: #FFCD58;
        color: #FF6527;
        display: inline-block;
        padding: 0 6px 6px 6px;
        width: 340px;
        vertical-align: top;
        height: 428px;
        overflow: hidden;
    }
    #pirzeList .pirzeListP{
        line-height: 2em;
        font-size: 20px;
        text-align: center;
    }
    #pirzeListInner, #currentPrizedPersons{
        height: 380px;
        overflow: hidden;
        background: #FFE4A2;
    }
    #currentPrizedPersons {
        height: auto;
        position: absolute;
        top: 430px;
        right: 5px;
        left: 5px;
        bottom: -5px;
        font-size: 25px;
        text-align: left;
        color: #222;
        padding: 15px 10px;
        line-height: 2em;
        transition: top .3s;
    }
    #currentPrizedPersons.active {
        top: 40px;
        bottom: 5px;
    }
    #pirzeList ol{
        color: #622D39;
        padding: 15px 5px;
        line-height: 1.5em;
        height: auto;
        width: 328px;
        text-align: left;
        font-size: 12px;
        position: absolute;
        top: 0;
    }
    #pirzeList ol li{
        padding: 0 10px;
        margin-top: 3px;
        white-space: nowrap;
        overflow: hidden;
    }
    #pirzeList ol li.active{
        background: #FFCD58;
    }
    .prizeName {
        background: #fff;
        color: #222;
        font-weight: 600;
        opacity: 1;
        height: 30px;
        position: absolute;
        bottom: 5px;
        left: 5px;
        right: 5px;
        text-align: center;
        font-size: 12px;
        transition: height .3s;
    }
    #tablePrize tr td:first-child{
        padding-left:50px;
    }

    #prizeShow{
        background: url(./img/bg_02.png) no-repeat top center #F8D267;
        padding: 50px 100px 100px 100px;
    }
    #prizeShow td{
        height: 170px;
        width: 160px;
        padding: 5px;
        position: relative;
     }
    #prizeShow td .outerBorder{
        position: absolute;
        top: 5px;
        right: 5px;
        bottom: 0;
        left: 0;
        border: 8px solid #672a2a;
        box-shadow: 0 0 5px #ddd inset;
        background: #fff;
        padding: 10px;
    }
    #prizeShow td .outerBorder img{
        width: 100%;
        min-height: 130px;
        height: 100%;
    }
    #prizerDetail{
        background: url(./img/bg_03.png) no-repeat top center #5AB6CB;
        padding: 50px 100px 100px 100px;
        /*background: url(./img/bg_02.png) no-repeat top center #F8D267;
        padding: 50px 100px 100px 100px;*/
        color: #222;
        font-weight: 200;
    }
    #prizerDetail table th{
        color: inherit;
        text-align: left;
        font-size: 13px;
    }
    #prizerDetail table tr{
        border-bottom: 1px dotted #aaa;
        height: 32px;
    }
    #prizerDetail table tr td{
        font-size: 13px;
        height: 32px;
    }

    #foot{
        background: #1C2124;
        line-height: 4em;
        color: #ddd;
        text-align: center;
    }
    #header{
        background: #1C2124;
        height: 25px;
        color: #fff;
        padding-left: 50px;
    }
    #header a{
        color: #ddd;
        text-decoration: none;
        font-size: 12px;
        padding: 2px 15px;
        display: inline-block;
        height: 25px;
        line-height: 20px;
    }
    #header a:hover{
        background: #005494;
    }

.tips{
    position: fixed;
    top:20%;
    margin-top: -200px;
    left: 50%;
    margin-left: -300px;
    display: none;
    opacity: 0;
}
.tips .tipsInner {
    z-index: 101;
    border: 2px solid #FFCD58;
    background: #FFE4A2;
    box-shadow: 0 0 5px #FFCD58;
    border-radius: 10px;
    min-height: 300px;
    width: 600px;
}
.tips::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,.3);
    z-index: 100;
}

#txtSearch{
    background: transparent;
    height: 22px;
    line-height: 22px;
    margin-left: 30px;
    border: 1px solid #FF6527;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: 300px;
    padding-left: 10px;
    font-size: 13px;
    color: #FF6527;
}

input::-webkit-input-placeholder, 
input:-moz-placeholder, 
input:-ms-input-placeholder { 
    color: #FF6527 !important;
}
