extends ../layout

block content
    style.
        #newsContainer {
            font-size: 13px;
            color: #444;
        }
        #newsContainer article {
            border-bottom: 1px solid #eee;
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
        #newsContainer article h3{
            font-size: 15px;
            color: #333;
        }
        #newsContainer article h3:hover {
            color: 
        }
        #newsContainer article .articleTools {
            color: #999;
            font-size: 12px;
        }
        #newsContainer article .articleTools span {
            margin-right: 20px;
        }
        #newsContainer article span.badge {
            background-color: #ccc;
            float: right;
            border-radius: 2px;
        }
        #loadMore {
            cursor: pointer;
            color: #00b7ff;
            margin-bottom: 20px;
            padding: 15px 30px;
        }
        img {
            max-width: 100%;
        }

    .wrapper.pt30.pr
        div.tc(style="background-color: #999; padding: 20px; background-image: linear-gradient(135deg,#ec971f,#d83b3b); color: #fff;") 每天刷一刷，快速跟上前端步伐

        div#newsContainer.mt50

        .tc.mt30
            span#loadMore(onclick="fetchList()") 加载更多
            
    script.
        var pageList = [];
        var container = $('#newsContainer');
        var btnLoad = $('#loadMore');

        var getTagText = function(item) {
            if(!item || !item.tags || !item.tags.length) {
                return "";
            }
            return '<span class="fr">' + item.tags.map(function(one) {
                return '<span class="badge">' + one + '</span>';
            }).join('') + '</span>';
        }
        var renderOne = function(item) {
            var article = $('<article></article>');

            if(item.brief) {
                article.append('<h3><a href="/news/' + item._id + '">' + item.title + '</a></h3>');
                var tools = $('<p class="articleTools">' + getTagText(item) + '</p>').appendTo(article);
                tools.append('<span>' + item.creator + '<span class="ml30">' + item.created_at.slice(0, 10) + '</span></span>');
                article.append('<div>' + item.brief + '</div>');
            }
            else {
                article.append('<div>' + item.title + '</div>');
            }

            return article;
        }
        var appendList = function(list) {
            list.map(function(one) {
                var article = renderOne(one);
                container.append(article[0].outerHTML);
            })
        }

        var currentPageNo = 0;
        var pageSize = 10;

        var fetchList = function() {
            currentPageNo ++;
            btnLoad.html('Loading ...').attr('disabled', true);
            oc.ajax.post('/news/list', {pageNo: currentPageNo, pageSize: pageSize}, function(res) {
                if(res.length < pageSize) {
                    btnLoad.html('没有更多了');
                }
                else {
                    btnLoad.html('加载更多').removeAttr('disabled');
                }
                
                pageList.push(res);
                appendList(res);
            });
        }

        
        fetchList();
        

        
        

    